*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--lightCharCoal);
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  #root, #__next {
    isolation: isolate;
    
  }

:root {
    --darkCharCoal: #101820;
    --lightCharCoal: #1b232c;
    --brightYellow: #FEE715;
}

.heading {
    display: flex;
    background-color: var(--darkCharCoal);
    font-family: "Roboto", serif;
    font-weight: 300;
    color: var(--brightYellow);
    justify-content: center;
    align-items: center;
    height: 90px;
}

.plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-family: "Roboto", serif;
    text-align: center;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.push, .pull, .arms {
    color: var(--brightYellow);
    background-color: var(--darkCharCoal);
}

.planHeading {
    font-style: italic;
    text-align: center;
    font-weight: 300px;
}

.planWorkouts {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top:20px;
    width: 100%;
    white-space: nowrap;
}

.planWorkouts p {
    flex: 0 0 70%; /* Fix the width of the workout text to 70% */
    margin: 0;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent text overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.plan .weights {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    gap: 20px; 
    flex-shrink: 0; 
    width: 30%; 
}

.plan .weights select {
    margin-right: 20px;
    background-color: var(--lightCharCoal);
    color: var(--brightYellow);
    font-weight: bold;
    border: none;
    cursor: pointer;
}